.page-header
  %h1 Clubs

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Address
    %th Phone number
    %th Min age
    %th Logo
    %th Music
    %th Opening Hours
    %th Menu
    %th Alcohol Prices
    %th Weight
    %th

  - @clubs.each do |club|
    %tr
      %td= club.name
      %td= club.address
      %td= club.phone_number
      %td= club.min_age
      %td= club.logo
      %td= club.music
      %td= club.opening_hours
      %td= club.menu
      %td= club.alcohol_prices
      %td= club.weight
      %td
        = link_to 'Show', club_path(club, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Edit', edit_club_path(club, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Delete', club_path(club, format: :html), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger btn-in-table'

%br

= link_to new_club_path(format: :html), class: 'btn btn-success' do
  %i.icon-plus.icon-white
  new club
