%p#notice= notice

%p
  %b Name:
  = @club.name
%p
  %b Address:
  = @club.address
%p
  %b Phone number:
  = @club.phone_number
%p
  %b Contact phone:
  = @club.contact_phone
%p
  %b Min age:
  = @club.min_age
%p
  %b Logo:
  = @club.logo
%p
  %b Music:
  = @club.music
%p
  %b Opening Hours:
  = @club.opening_hours
%p
  %b Menu:
  = @club.menu
%p
  %b Alcohol Prices:
  = @club.alcohol_prices
%p
  %b Create At:
  = @club.created_at
%p
  %b Weight:
  = @club.weight

= link_to 'Edit', edit_club_path(@club, format: :html), class: 'btn'
= link_to 'Back', clubs_path(format: :html), class: 'btn'