= simple_form_for(@line, format: :html) do |f|
  = f.error_notification

  - Attraction.all[0]
  - @hosts = Place.all
  .form-inputs
    = f.input :name
    = f.input :host, collection: @hosts, input_html: { class: 'host-select' }
    = f.input :phone_number
    = f.input :contact_phone
    = f.label :min_age
    = f.number_field :min_age, min: 18, max: 100, value: 18
    = f.input :logo_url, as: :filepicker, label: "Logo"
    = f.input :musics, as: :select, input_html: { class: 'music-multiselect' }
    = f.input :duration, as: :date

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
