%p#notice= notice

%p
  %b Name:
  = @party.name
%p
  %b Address:
  = @party.address
%p
  %b Phone number:
  = @party.phone_number
%p
  %b Contact name:
  = @party.contact_name
%p
  %b Contact phone number:
  = @party.contact_phone_number
%p
  %b Facebook url:
  = @party.facebook_url
%p
  %b Min age:
  = @party.min_age
%p
  %b Logo:
  - if @party.logo_url?
    = filepicker_image_tag @party.logo_url, w: 160, h: 160, fit: 'clip'
  = @party.logo_url
%p
  %b Photos:
  - if @party.photos_url?
    = filepicker_image_tag @party.photos_url, w: 160, h: 160, fit: 'clip'
  = @party.photos_url
%p
  %b Music:
  = @party.musics.join(', ')
%p
  %b Date:
  = @party.date
%p
  %b Opening Hours Start:
  = @party.opening_hours_start
%p
  %b Opening Hours End:
  = @party.opening_hours_end
%p
  %b Day of Week:
  = Date::DAYNAMES[@party.day_of_week] if @party.day_of_week.present?
%p
  %b Create At:
  = @party.created_at
%p
  %b Weight:
  = @party.weight

/ = link_to 'Edit', edit_party_path(@party, format: :html), class: 'btn'
= link_to 'Back', parties_path(format: :html), class: 'btn'