= simple_form_for(@bar, format: :html) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :address, input_html: { id: "addresspicker" }
    = f.input :phone_number
    = f.input :contact_phone
    = f.label :min_age
    = f.number_field :min_age, min: 18, max: 100, value: 18
    = f.input :logo
    = f.input :music
    / = f.input :musics, collection: Attraction.musics.options
    / = f.input :musics, as: :select

    = f.input :opening_hours, as: :date
    = f.input :menu

  .form-actions
    = f.button :submit, class: 'btn btn-primary'