.page-header
  %h1 Bars

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Address
    %th Min age
    %th Logo
    %th Phone number
    %th Music
    %th Opening Hours
    %th Menu
    %th Alcohol Prices
    %th Weight
    %th

  - @bars.each do |bar|
    %tr
      %td= bar.name
      %td= bar.address
      %td= bar.min_age
      %td= bar.logo
      %td= bar.phone_number
      %td= bar.music
      %td= bar.opening_hours
      %td= bar.menu
      %td= bar.alcohol_prices
      %td= bar.weight
      %td.center
        = link_to 'Show', bar_path(bar, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Edit', edit_bar_path(bar, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Delete', bar_path(bar, format: :html), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger btn-in-table'

%br

= link_to new_bar_path(format: :html), class: 'btn btn-success' do
  %i.icon-plus.icon-white
  new bar
