%p#notice= notice

%p
  %b Name:
  = @bar.name
%p
  %b Address:
  = @bar.address
%p
  %b Phone number:
  = @bar.phone_number
%p
  %b Min age:
  = @bar.min_age
%p
  %b Logo:
  = @bar.logo
%p
  %b Music:
  = @bar.music
%p
  %b Opening Hours:
  = @bar.opening_hours
%p
  %b Menu:
  = @bar.menu
%p
  %b Alcohol Prices:
  = @bar.alcohol_prices
%p
  %b Weight:
  = @bar.weight

= link_to 'Edit', edit_bar_path(@bar, format: :html), class: 'btn'
= link_to 'Back', bars_path(format: :html), class: 'btn'