.page-header
  %h1 App Users

%table.table.table-striped.table-bordered
  %tr
    %th Device Id:
    %th fb Name:
    %th fb Token:
    %th fb User Id:
    %th Age:
    %th Area:
    %th Favorite Beverage:
    %th Favorite Music:
    %th Past Attractions:
    %th Created At:
    %th Updated At:
    %th

  - @app_users.each do |app_user|
    %tr
      %td= app_user.device_id
      %td= app_user.fb_name
      %td= app_user.fb_token
      %td= app_user.fb_user_id
      %td= app_user.age
      %td= app_user.area
      %td= app_user.favorite_beverage
      %td= app_user.favorite_music.join(', ')
      %td= app_user.past_attractions
      %td= app_user.created_at
      %td= app_user.updated_at
      %td.center
        = link_to 'Show', app_user_path(app_user, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Delete', app_user_path(app_user, format: :html), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger btn-in-table'
