.page-header
  %h1 App Users

%table.table.table-striped.table-bordered
  %tr
    %th fb Name:
    %th fb Token:
    %th Devise Identifier:
    %th Age:
    %th Musical Preferences:
    %th Past Attractions:
    %th Create At:
    %th

  - @app_users.each do |app_user|
    %tr
      %td= app_user.fb_name
      %td= app_user.fb_token
      %td= app_user.devise_identifier
      %td= app_user.age
      %td= app_user.musical_preferences.join(', ')
      %td= app_user.past_attractions
      %td= app_user.created_at
      %td.center
        = link_to 'Show', app_user_path(app_user, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Edit', edit_app_user_path(app_user, format: :html), class: 'btn btn-mini btn-in-table'
        = link_to 'Delete', app_user_path(app_user, format: :html), method: :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-danger btn-in-table'

%br

= link_to new_app_user_path(format: :html), class: 'btn btn-success' do
  %i.icon-plus.icon-white
  new app user