%p#notice= notice

%p
  %b fb Name:
  = @app_user.fb_name
%p
  %b fb Token:
  = @app_user.fb_token
%p
  %b Devise Identifier:
  = @app_user.devise_identifier
%p
  %b Age:
  = @app_user.age
%p
  %b Musical Preferences:
  = @app_user.musical_preferences.join(', ')
%p
  %b Past Attractions:
  = @app_user.past_attractions
%p
  %b Create At:
  = @app_user.created_at

= link_to 'Edit', edit_app_user_path(@app_user, format: :html), class: 'btn'
= link_to 'Back', app_users_path(format: :html), class: 'btn'

