!!!
%html
  %head
    %title
      Zuller
    = stylesheet_link_tag "application", :media => "all"  
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar
      .navbar-inner
        %a.brand Zuller
    .container-fluid
      .span2
        %ul.nav.nav-tabs.nav-stacked
          %li= link_to 'Bars', bars_path(format: :html)
          %li= link_to 'Clubs', clubs_path(format: :html)

      .span10
        = yield